services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: trips_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: ./backend
    restart: always
    ports:
      - "8002:8000"
    environment:
      DATABASE_URL: mysql+mysqlconnector://user:password@db/trips_db
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "8547:80"
    depends_on:
      - backend

volumes:
  db_data:
